<a href="https://colab.research.google.com/github/omarlopez2001/take-home-project/blob/main/SPD_1_5_HW_lopez_omar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive

In [5]:
drive.mount('/content/drive')

Mounted at /content/drive

# Import Data

In [6]:
import pandas as pd

In [9]:
# import Seattle Crime Stats data
df = pd.read_csv('/content/drive/MyDrive/data/seattle-crime-stats-by-police-precinct-2008-present.csv')

In [10]:
df

      Police Beat           CRIME_TYPE  ... Precinct  Row_Value_ID
0              R2                 Rape  ...       SE         27092
1              K2              Assault  ...        W         26506
2              M2             Homicide  ...        W         27567
3              C3              Robbery  ...        E         26225
4              E2  Motor Vehicle Theft  ...        E         26368
...           ...                  ...  ...      ...           ...
27120          B2             Homicide  ...        N             8
27121          B1             Burglary  ...        N             7
27122          B1  Motor Vehicle Theft  ...        N             6
27123          B1        Larceny-Theft  ...        N             5
27124          B1              Robbery  ...        N             3

[27125 rows x 8 columns]